<html>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
    <body>
        <table>
            <tr><th>Users</th><th>password</th></tr>
            
                {% for user in users %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.password}}</td>
                </tr>
                {% endfor %}
        </table>
        <button onclick=back()> Go Back</button>
        <script>
            function back(){
                window.location.href='admin'
            }
        </script>
    </body>
</html>