<!DOCTYPE html>
<title>Website</title>
<style>
    body{

        position: relative;
        background-color: cornsilk;
    }
    #main{
        position: relative;
        background-color: rgb(56, 56, 138);
        text-align: center;
        height: 45%;
        width: 100%;
    }
    #admin_user{
        position: relative;
        top: auto;
        text-align: center;
    }
   
</style>
<body>
    <div id="main">
        WELCOME!!!!
    </div>
    <div id="admin_user">
        <div id="adm">
            <a href="admin">ADMIN</a>
        </div>
        <div id="usr">
            <a href="user">USER</a>
        </div>
    </div>

</body>